body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    padding: 40px;
}
.album {
    background: rgb(200, 194, 184);
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 250px;
}
.album img {
    width: 100%;
    border-radius: 10px;
}
.contenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.album a {
    display: inline-block;
    margin-top: 10px;
    color: #8f2f19;
    text-decoration: none;
    font-weight: bold;
}
h1 {
    text-align: center;
    color: #333;
}
